header{
    background: transparent;
    text-align: center;
    justify-content: space-between;
    padding: 15px 50px;
    box-shadow: 0 0 5px 0 #bbb;
    margin-bottom: 15px;

    img{
        width: 30%;
    }
    a{
        text-decoration: none;
    }
    p{
        text-decoration: none;
        text-transform: none;
        letter-spacing: 12px;
        font-size: 23px;
        margin: 7px 0;
        color: #888;
    }
    
}
.header__logo{
    cursor: pointer;
}
.sair-btn{
    padding: 10px;
    color: #CF4E0F;
    background: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    right: 7%;
    top: 7%;
}