<app-header></app-header>
<div class="container">
    <div class="content-tabs">
<div class="third">
    <form #form="ngForm" class="paddingSpace">
<div class="main-content">
    <div class="leftVariavelEdit">
      <h4 class="formTitle">Personalizar campos</h4>
      <div class="variaveisBox">
        <div *ngFor="let variavel of listaVariaveis">
          <label>{{variavel.titulo}}
          <span>Será o titulo da imagem final</span>
          </label>
          <input [(ngModel)]='variavel.textoModelo' type='text' id='titulo' name='titulo' placeholder="Título" #nameVerify="ngModel" required>
        </div>
        
      </div>                   
        
      <button class="orange-button" style="width: 90%; margin-top: 10px;" (click)="chamaPreview();">Pré Visualizar</button>

    </div>
    <div class="rightVariavel">
      <h4 class="formTitle">Pré visualizar</h4>
      <div class="boxImagePreview">
        <canvas #canvasPreview id="canvasPreview" ></canvas>
      </div>
      <div class="bot-dir add-variavel">
        <button class="orange-button" (click)="salvarImage();">Salvar</button>
      </div>

    </div>
</div>
</form>
</div>
</div>
</div>