<app-header></app-header>
<div class="container">
  <div class="dashHeader">
    <h4>Edição de peças</h4>
  </div>
  <div class="dashContent">
    <div class="categoriesBox">
      

    </div>
    <div class="imagesBox">
      <div class="imagesToEdit">

        <!-- Mensagem que será exibida caso não tenha nenhuma foto -->
        <div *ngIf="semFotos" class="semFotos">
          <div *ngIf="isAdmin">
            <h3>Selecione uma imagem ou adicione uma nova</h3>
          </div>
          <div *ngIf="!isAdmin">
            <h3>Não há imagens para editar</h3>
          </div>
        </div>

        <!-- Fotos para download ou edição -->
        <div *ngIf="!semFotos" class="toEdit">
          <div class="singleImage" *ngFor="let imagem of imagens; let i= index">
            <img src="{{imagem.s3Url}}">
            <h4>{{imagem.name}}</h4>
            <div class="tagsImage">
              <p *ngIf="imagem.editable">Editável</p>
              <p *ngIf="!imagem.editable">Não editável</p>
            </div>
            <div class="btnImagesEdit">
             
              <button class="orange-button" (click)="downloadImage(imagem.s3Url, i)">Download</button>
               
            </div>
            <div class="typeDownloadButton" id="botoes-{{i}}">
              <button class="clean-button" (click)="downloadPDF(imagem.name)">PDF</button>
              <button class="clean-button" (click)="downloadPNG(imagem.name)">PNG</button>
              <button class="clean-button" (click)="downloadJPEG(imagem.name)">JPEG</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<img id="imageToCanvas" src="{{imgPreviewBeforeAprove}}" >
<canvas class="canvasBase" id="canvasToDownload"  id="canvasBase" #canvas></canvas>
