<app-header></app-header>
<div class="container">
  <div class="dashContent">
    <div class="categoriesBox">
      

    </div>
    <div class="imagesBox">
        <div class="uploader">
            <img *ngIf="exibeImgPlaceholder" class="uploadIcon fadeOut" src="../../../assets/images/upload.png" />
            <p *ngIf="exibeImgPlaceholder" class="fadeOut">Arraste o arquivo ou clique para selecionar</p>
            <p *ngIf="exibeFontConfirm" >Fonte selecionada</p>
            <input type="file" (change)="getFonte($event);" name="userprofile_picture"  id="fileFont" />
        </div>
        <div class="add-button">
          <button (click)="carregaFonte();" class="orange-button">Adicionar Fonte</button>
        </div>
    </div>
  </div>
</div>