<app-header></app-header>
<div class="container">
  <div class="dashContent">
    <div class="categoriesBox">
      

    </div>
    <div class="imagesBox">
      <div class="imagesToEdit">

        <!-- Mensagem que será exibida caso não tenha nenhuma foto -->
        <div *ngIf="semFotos" class="semFotos">
          <div *ngIf="isAdmin">
            <h3>Selecione uma imagem ou adicione uma nova</h3>
          </div>
          <div *ngIf="!isAdmin">
            <h3>Não há imagens para editar</h3>
          </div>
        </div>

        <!-- Fotos para download ou edição -->
        <div *ngIf="!semFotos" class="toEdit">
          <div class="singleImage" *ngFor="let imagem of imagens">
            <img src="{{imagem.s3Url}}">
            <h4>{{imagem.name}}</h4>
            <div class="tagsImage">
              <p *ngIf="imagem.editable">Editável</p>
              <p *ngIf="!imagem.editable">Não editável</p>
            </div>
            <div class="btnImagesEdit">
              <button class="orange-button" (click)="rejeitarImagem(imagem.idImage)">Rejeitar</button>
              <button class="orange-button" (click)="aprovarImagem(imagem.idImage)">Aprovar</button>
              <button class="orange-button-less" (click)="ampliaImage(imagem.s3Url)"><i class="material-icons" style="align-self: center;">zoom_in</i></button>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="previewBeforeAprove" *ngIf="showPrev">
  <img src="{{imgPreviewBeforeAprove}}" >
</div>
<i (click)="fecharPrev()" *ngIf="showPrev" class="material-icons fechar" >highlight_off</i>


