<app-header></app-header>
<div class="container">
  <div class="dashHeader">
    <h4>Edição de peças</h4>
    <p class="addImageBtn" (click)="callAddImage();" >Adicionar imagem</p>
  </div>
  <div class="dashContent">
    <div class="categoriesBox">
      <h4>Categorias</h4>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node (click)="selecionaMenu(node.id)" class="naoTemFilho" (click)="carregaCategoria(node.name);" *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          {{node.name}}
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node (click)="selecionaMenu(node.id)" class="temFilho" (click)="carregaCategoria(node.name);" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
        
        

        
      </mat-tree>
      <p *ngIf="isAdmin" class="addCategory" (click)="addCategory();"> <i class="fas fa-plus"></i>Adicionar categoria</p>
      <form #form="ngForm" *ngIf="isAdmin" class="formAddCategory">
        <label>Título:</label>
        <input [(ngModel)]='newCategory.title' id="title" name="title" placeholder="Nome da categoria" />

        <label>Subcategoria de: </label>
        <select [(ngModel)]='newCategory.subCategoryOff' id="subCategory" name="subCategory" placeholder="Escolha uma categoria">
          <option value="0" >Escolha uma categoria</option>
          <option value="1" >Não é subcategoria</option>
          <option *ngFor="let categoria of selectCategorias" value="{{categoria}}">{{categoria}}</option>
        </select>

        <button class="orange-button" (click)="saveCategory();">Adicionar categoria</button>
      </form>

    </div>
    <div class="imagesBox">
      <div class="imagesToEdit">

        <!-- Mensagem que será exibida caso não tenha nenhuma foto -->
        <div *ngIf="semFotos" class="semFotos">
          <div *ngIf="isAdmin">
            <h3>Selecione uma imagem ou adicione uma nova</h3>
          </div>
          <div *ngIf="!isAdmin">
            <h3>Não há imagens para editar</h3>
          </div>
        </div>

        <!-- Fotos para download ou edição -->
        <div *ngIf="!semFotos" class="toEdit">
          <div class="singleImage" *ngFor="let imagem of imagens">
            <img src="{{imagem.s3Url}}">
            <h4>{{imagem.name}}</h4>
            <div class="tagsImage">
              <p *ngIf="imagem.editable">Editável</p>
              <p *ngIf="!imagem.editable">Não editável</p>
              <!-- <p>Papel: A4</p>
              <p>Obs</p>
              <p>Obs</p>
              <p>Obs</p>
              <p>Obs</p>
              <p>Obs</p>
              <p>Obs</p> -->
            </div>
            <div class="btnImagesEdit">
              <button class="orange-button" (click)="chamaDownload(imagem.idImage)">Download</button>
              <button class="orange-button" (click)="chamaEdicao(imagem.idImage)">Personalizar</button>
            </div>
          </div>

        </div>
      </div>
      <!-- <div *ngIf="isAdmin" class="toApproveBox">
        
      </div> -->
    </div>
  </div>
</div>